* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/Poppins-Light.ttf);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: grid;
    background-color: rgb(33, 33, 34);
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
}

#header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    font-family: font1;
    padding: 2vh 15vh;
    font-size: 2.5vh;
}

#logo {
    cursor: default;
    filter: drop-shadow(0 0 15px aqua);
    color: aqua; transition: 0.5s ease;
}

#logo:hover {
    text-decoration: none;
    transform: scale(1.2);
}

#nav a {
    filter: drop-shadow(0 0 10px aqua);
    margin-left: 5vh;
    color: aqua;
    text-decoration: none;
    transition: 0.5s ease;
}

#nav a:hover {
    filter: none;
    color: whitesmoke;
}

#container1 {
    align-items: center;
    padding: 3vh;
    top: 5vh;
    position: relative;
    display: flex;
}

#container1 img {
    position: relative;
    border-radius: 50%;
    max-width: 355px;
    max-height: 355px;
}

#box {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 355px;
    border-radius: 50%;
    height: 355px;
}

#box::before {
    display: grid;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    width: 355px;
    border-radius: 50%;
    height: 315px;
    background-color: transparent;
    box-shadow: 0 0 25px aqua;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        box-shadow: 0 0 25px whitesmoke;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeColor {
    0% {
        background-color: aqua;
    }

    50% {
        background-color: whitesmoke;
    }

    100% {
        background-color: aqua;
    }
}

#txt {
    width: 700px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: font1;
    padding: 5vh;
}

#container1 h1{
    /*animation: changeColor 2s linear infinite;*/
    text-decoration: underline;
    font-size: 5vh;
}
#container1 h2{
    font-size: 2.7vh;
}
#container1 p{
    font-size: 2vh;
}

#pontos {
    position: relative;
    margin-top: 2vh;
    font-size: 15px;
    padding: 5vh;
}

#linha {
    background-color: aqua;
    filter: drop-shadow(0 0 20px aqua);
    width: 100%; 
    height: 5px; 
    border: none; 
    border-radius: 2em;
}

#container2 {
    position: relative;
    top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt2 {
    border-right: 5px dotted aqua;
    width: 300px;
    color: whitesmoke;
    font-family: font2;
}

#music {
    display: grid;
    padding-bottom: 10vh; padding-inline: 5vh;
    width: auto; height: auto;
    position: relative;
}

#music h2{
    font-family: font1;
    color: whitesmoke;
}

#music h3{
    font-family: font2;
    color: whitesmoke;
}

#music audio {
    position: relative;
    margin-top: 5vh;
    width: 300px;
    height: 40px;
}

